@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  padding:50px;
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
}

.title {
  font-family:gotham-light;
  text-align:center;
  font-size:60px;
  padding-bottom:30px;
}

.sound-cloud-player {
  margin-left:auto;
  margin-right:auto;
  width:400px;
  height:280px;
}

.masked{
background: url(http://www.trentwalton.com/bgclip/img/paint.png) repeat, white;
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
-webkit-animation-name: masked-animation;
-webkit-animation-duration: 40s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
}
@-webkit-keyframes masked-animation {
0% {background-position: left bottom;}
100% {background-position: right bottom;}
}

.anaglyphic {

	display: inline;

	position: relative;

	font: 200px Helvetica, Sans-Serif;

	letter-spacing: -5px;

	color: rgba(0,0,255,0.5); 

}

.anaglyphic:after {

	content: "C A S A B L A N C A";

	position: absolute; left: 10px; top: 5px;

	color: rgba(255,0,0,0.5);   

}

